@media(max-width: 1444px) {

  .start-screen {
  gap: 140px;
}

h1 {
  font-size: 72px;
}

.start-icon {
  width: 110px;
  height: 170px;
}

.settings-icon {
  width: 90px;
  height: 90px;
}

.introduction-icon {
  width: 85px;
  height: 95px;
}

#introductionDialog,
#settingsDialog {
  width: 70vw; 
  height: 80vh; 

  padding-inline: 90px;
  padding-top: 50px;
  padding-bottom: 40px;

  overflow-y: auto;
  font-size: 16px;
}

#settingsDialog {
  gap: 32px; 
}

#introductionDialog h2,
#settingsDialog h2 {
  font-size: 28px;
  margin-bottom: 6px;
}


.controller {
  gap: 12px;
  padding-block: 8px;
}

li {
  margin-bottom: 6px;
}

.footer {
  margin-top: 8px;
}

.game-settings-button {
  position: absolute;
  top: 90px;
}

.endscreen {
  position: fixed;
  inset: 0; 
}

/* IMPRESSUM */ 

.impressum {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 54px; 
  font-size: 14px;
}


}

/*** MOBILE**/

@media (hover: none) and (orientation: portrait) {
  .canvas-container {
    display: none;
  }

  .rotate-phone-info {
    display: flex;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px;
    font-size: 32px;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 9999;
  }

  .responsive-buttons {
    display: none;
  }

  .desktop-buttons {
    display: none;
  }
}




@media (hover: none) and (orientation: landscape) and (max-width: 1400px) {
  
  .fullscreen-btn {
    display: none; 
  }
  
  #introductionDialog, #settingsDialog {
    height: 90vh; 
  }

 .canvas-container {
    position: relative; 
  }

   .responsive-buttons {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    justify-content: space-between;
    padding: 0 24px;
    z-index: 20;
  }

  #btnLeft,
  #btnRight,
  #btnJump,
  #btnThrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px; 
    font-size: 38px; 
    border-radius: 100%; 
    border: 3px solid rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

 #gameSettingsButton {
  position: absolute;
  top: 0px; 
  right: -100px;
  z-index: 10;  
  cursor: pointer;
 }

 #fullscreen-btn {
  position: absolute;
  bottom: 2px;
  right: 2px;

  cursor: pointer; 
}

 
}


@media (hover: none) and (orientation: landscape) and (max-width: 1000px) {
  #introductionDialog, #settingsDialog {
    height: 100dvh; 
    width: 100vw; 
    overflow-y: auto;
    font-size: 14px; 
    gap: 8px; 
  }

  #settingsDialog {
    gap: 40px; 
  }

  .impressum {
    font-size: 12px; 
  }

  .start-screen {
    gap: 24px;
  }

  h1 {
    font-size: 72px;
  }

  .start-icon {
    width: 90px;
    height: 150px;
  }

  .settings-icon {
    width: 70px;
    height: 70px;
  }

  .introduction-icon {
    width: 65px;
    height: 65px;
  }

  .responsive-buttons {
    display: flex;
    align-items: center;
     justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 14px;
    padding: 0 24px;
    z-index: 20;
  }

  #btnLeft,
  #btnRight,
  #btnJump,
  #btnThrow {
    height: 58px;
    width: 58px; 
    border: 2px solid rgba(0, 0, 0, 0.6);
    font-size: 22px; 
  }

  .canvas-container {
    position: relative; 
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #canvas {
    height: 90dvh; 
  }

.btn {
    font-size: 12px;
    padding: 7px 14px;
  }
}

@media (hover: none) and (orientation: landscape) and (max-width: 750px) {
  #introductionDialog, #settingsDialog {
    height: 100dvh; 
    width: 100vw; 
    overflow-y: auto;
    font-size: 14px; 
    gap: 8px; 
  }

  #settingsDialog {
    gap: 24px; 
  }

  #gameSettingsButton {
  width: 20px;
  height: 20px;  
  top: 0px; 
  right: -20px;
 }

  #btnLeft,
  #btnRight,
  #btnJump,
  #btnThrow {
    height: 45px;
    width: 45px; 
   
  }

  h1 {
    font-size: 52px; 
  }

}

@media (hover: none) and (orientation: landscape) and (max-width: 600px) {
   #introductionDialog, #settingsDialog {
    height: 100dvh; 
    width: 100vw; 
    overflow-y: auto;
  }

  #btnLeft,
  #btnRight,
  #btnJump,
  #btnThrow {
    height: 50px;
    width: 50px; 
  }

}
