* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

@font-face {
  font-family: 'Bangers';
  src: url('./fonts/Bangers-Regular.ttf') format('truetype');

  font-family: 'Rye';
  src: url('./fonts/Rye-Regular.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: url('img/background.image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Rye';
  font-size: 40px; 
  letter-spacing: 3px;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  text-align: center;
  color: white; 
}

.main-container {
  display: flex;
  flex-direction: column;
}

.start-screen {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.menu {
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  display: flex; 
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none; 
  padding: 0; 
  cursor: pointer;
}

.start-icon {
  width: 130px;
  height: 210px;

  display: inline-block; 

  filter: drop-shadow(0 4px 12px rgba(0,0,0,0.5));
  transition: all 0.2s ease; 
}

.wiggle:hover {
  animation: wiggle 0.5s ease infinite; 
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.introduction-icon {
  width: 100px;
  height: 110px;

  filter: drop-shadow(0 4px 12px rgba(0,0,0,0.5));
  
}

.settings-icon {
  width: 110px;
  height: 110px;

  filter: drop-shadow(0 4px 12px rgba(0,0,0,0.5));
}

#gameContainer {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

canvas {
  background-color: black;
}

#pauseOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  text-shadow: 4px 4px 8px rgba(0,0,0,0.7);
  z-index: 5; 
} 

#gameOverScreen, #winScreen {
  width: 720px; 
  height: 480px;
  }

.hidden {
  display: none !important; 
}

/* DIALOG */
dialog {
  position: relative; 
}

#introductionDialog[open],
#settingsDialog[open] {
  display: flex;
}

#introductionDialog, #settingsDialog {
  background-image: url('img/pergament.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-inline: 66px; 
  border: none;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);

  width: 1000px;
  height: 900px;
  max-width: unset;
  max-height: unset;
  overflow-y: auto;

  /* Dialog zentrieren */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: left; 
  font-size: 16px; 
  gap: 32px; 
}

#introductionDialog::backdrop,
#settingsDialog::backdrop {
  background: rgba(162,58,19, 0.5);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  padding-inline: 32px; 
  padding-bottom: 16px;
  padding-top: 16px; 
}

.footer {
  margin-top: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 12px;
}

ul {
  list-style: none;
  padding-left: 24px;
}

li {
  margin-bottom: 10px;
}

.btn {
  background: linear-gradient(
    to bottom,
    rgb(156, 77, 28),
    rgb(107, 48, 18)
  );

  border: 3px solid rgb(73, 33, 12);
  border-radius: 14px;

  padding: 14px 36px;

  font-family: 'Rye';
  font-size: 22px;
  letter-spacing: 2px;
  color: rgb(255, 230, 180);

  box-shadow:
    inset 0 2px 4px rgba(255,255,255,0.2),
    0 4px 10px rgba(0,0,0,0.45);

  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

  transition: all 0.2s ease;
}

.btn:hover {
  background: linear-gradient(
    to bottom,
    rgba(107, 48, 18, 0.5),
    rgba(156, 77, 28, 0.5)
  );

  box-shadow:
    inset 0 2px 4px rgba(255,255,255,0.3),
    0 6px 12px rgba(0,0,0,0.5);

  transform: translateY(-2px);
}

.btn-muted {
  background: rgb(243, 169, 68);
}

.btn-muted:hover {
  background: rgba(243, 169, 68, 0.5);
  box-shadow:
    inset 0 2px 4px rgba(255,255,255,0.3),
    0 6px 12px rgba(0,0,0,0.5);

  transform: translateY(-2px);
}

.game-settings-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}


